body{
    background-color: lightblue;
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
}
h1{
    color: darkblue;
    text-align: center;
    line-break: anywhere;
}
table{
    max-width: 40%;
    border-collapse: collapse;
    margin: 0 auto;
}
td{
    border: 1px solid black;
    padding: 8px;
}
th{
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}
tr:nth-child(odd){
    background-color: #f9f9f9;
}
tr:hover{
    background-color: #e0e0e0;
}
a{
    color: darkolivegreen;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
button{
    background-color: navy;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
button:hover{
    background-color: darkblue;
}               