{% extends "base.html" %}

{% block head %}
    <title>WELCOME HOME</title>
{% endblock %}

{% block body %}
<div class="content"></div>
    <h1 align="center">Hello, Suzie it's me beth!</h1>
    <table border="1" borderstyle="solid" cellpadding="10" cellspacing="0">
        <tr>
            <th width="60%">Task</th>
            <th width="20%">Added</th>
            <th width="20%">Action</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td style="text-align: left;">{{ task.content }}</td>
            <td style="text-align: center;">{{ task.date_created.date() }}</td>
            <td style="text-align: center;">
                <a href="">Delete</a>
                <br>
                <a href="">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <form action="" method="POST" align="center" style="margin-top:20px;">
        <input type="text" name="content" placeholder="Enter come content" id="content">
        <input type="submit" value="Add Task">
    </form>
</div>
{% endblock %}